name: Laravel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pgframework-app-tests:

    runs-on: ubuntu-16.04

    steps:
    - uses: shivammathur/setup-php@b7d1d9c9a92d8d8463ce36d7f60da34d461724f8
      with:
        php-version: '7.4'
    - uses: actions/checkout@v2
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.dist', '.env');"
      name: OtherCopy .env.local
      run: php -r "file_exists('.env.local') || copy('.env.local.dist', '.env.local');"
      name: LastCopy database.dist.php
      run : php -r "file_exists('./config/database.php') || copy('./config/database.dist.php', './config/database.php');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php ./bin/generate key:generate
